@model List<Crud.Models.Genero>

@{
    ViewData["Title"] = "Index";
}

<h1>Índice</h1>

<p>
    <a asp-action="Create">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Detalles
            </th>
            <th>
                Estado
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
         {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Detalles)
                </td>
                <td>
                    @if (item.Estado == 1)
                    {
                        <label>Activado</label>
                    }
                    else
                    {
                        <label>Desactivado</label>
                    }
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.Codigo }, new { onclick = "return confirm('¿Está seguro de editar?')" }) |
                    @Html.ActionLink("Detalles", "Details", new { Codigo = item.Codigo }) |
                    @if (item.Estado == 1)
                    {
                        @Html.ActionLink("Desactivar", "Desactivar", new { id = item.Codigo }, new { onclick = "return confirm('¿Está seguro de Desactivar?')" })
                    }
                    else
                    {
                        @Html.ActionLink("Activar", "Activar", new { id = item.Codigo }, new { onclick = "return confirm('¿Está seguro de Activar?')" })
                    }
                </td>
            </tr>
         }
    </tbody>
</table>
